.judul{
  color: #3B8686;
  padding-top: 50px;
  padding-bottom: 50px;
}

.replace{
  background-color: white;
  border: none;
  border-radius: 0;
  border-bottom: solid;
  color: #3B8686;
}

.nav li a{
  font-weight: bold !important;
  color: #3B8686 !important;
}

.tebel{
  font-weight: bold;
}

.auto{
  text-align: center;
  width: 600px;
  position: relative;
  margin: 0 auto;
}

.atas{
  margin-top: 20px;
}

.bawah{
  margin-bottom: 50px;
}

.active{
  background-color: #79BD9A;
  color: white !important;
}

.btn{
    background-color: #79BD9A;
}
